
/* imagen de fondo completo*/
body{
    background-image: url("../imagen/Fonfo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

/* header */

#encabezado{
    background-color: rgba(247, 244, 244, 0.74);
    border-radius: 80px;
    margin-top: 20px;
}

.menu{
    list-style-type: none;
    float: right;
    padding-top: 12px;

}

#encabezado .menu{
    width: 680px;
}

.menu li{
    float: left;
    padding-left: 40px;
    margin: auto 20px;
}

.menu li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
}

.menu li a:hover{
    color:#E07D22;
    font-size: 20px;
    font-style: italic;
}

#col-header1{
    padding-left: 80px;

}

/*section*/

#row-one .col{
    text-align: center;
}

#row-one p{
    margin: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'JetBrains Mono', monospace;
    
}

@media (max-width: 1199px){

    header {
        margin-bottom: 20px;
    }
    
    #col-header2 {
        display:grid;
    }

    #encabezado {
        background-color: rgba(247, 244, 244, 0.74);
        border-radius: 30px;
        margin-top: 20px;
    }
    

    .menu {
        list-style-type: none;
        padding-top: 12px;
    
    }

    .menu li {
        float: none;
        padding-left: 0px;
        padding: 10px 0px 10px 0px ;
        margin: auto 20px;
    }

    #imagen-footer {
        text-align: center;
    }

    /*section*/

    #row-one p {
        font-size: xx-large;
    }

    #list ul {
        padding: 3% 0px;
    }
    
    #list ul li a {
        
        white-space: nowrap;    
        padding: 10px 25px;
        font-size: 25px;
        color: black;
        text-decoration: none;
    }
    
    #list a:hover {
        color: #774605;
        font-size: 25px;
    }
    
    #list ul li {
        list-style-type: none;
        margin: 50px;
        background-color: #fff;
        padding: 10px 0px;
        border-radius: 12px;    
    }
    
    #list ul li i {
        margin-left: -30px;
        margin-top: -3px;
        padding: 10px 20px 10px 20px;
        background-color: #E07D22;
        border-radius: 12px;
        float: left;
    }
    
    #list a i:hover {
        color: black;
    }

    /*video */

    section #video {
        text-align: center;
    }

    section #video video {
        width: 24em;
        height: 40em;
        margin-bottom: 100px;
    }
    
    
    
}


/*video-presentacion*/


section video{
    width: 100%;
    height: 40em;
    margin-bottom: 100px;
}


/* lista-contactos */


#list ul{
    padding: 3% 0;
}

#list a{
    padding: 10px 50px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    
}

#list a:hover{
    color: #774605;
    font-size: 25px;
}

#list li{
    list-style-type: none;
    margin: 50px ;
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 12px;
    
}

#list i{
    margin-left: -30px;
    margin-top: -3px;
    padding: 10px 20px 10px 20px;
    background-color: #E07D22;
    border-radius: 12px;
    float: left;
}

#list a i:hover{
    color: black;
}

/*footer*/

footer{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

#pie-row .col{
    text-align: center;
}

#pie-row .col ul{
    padding-top: 25px;
    list-style-type: none;
} 

#pie-row .col img{
    padding-top: 20px;
}

#pie-row .col ul a{
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: black;
    
}

#pie-row .col ul a:hover{
    color:#E07D22;
    font-size: 20px;

}

#pie-row .col ul li{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    padding: 5px 0px;
}


#pie img{
    width: 300px;
}

#pie-row i{
    padding-right: 10px;
  
    
}


