
/* imagen de fondo completo*/
body{
    background-image: url("../imagen/Fonfo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#encabezado{
    background-color: rgba(247, 244, 244, 0.74);
    border-radius: 80px;
    margin-top: 20px;
}
.menu{
    list-style-type: none;
    float: right;
    padding-top: 12px;

}
.menu li{
    float: left;
    padding-left: 40px;
    margin: auto 20px;
}
.menu li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
}
.menu li a:hover {
    color:#E07D22;
    font-size: 18px;
    font-style: italic;
}
.texto {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'JetBrains Mono', monospace;
}


#detalle-musica {
    display: flex;
}

#videos-playlist iframe {
    border-radius: 20px;
}


footer{
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

#pie-row .col{
    text-align: center;
}

#pie-row .col ul{
    padding-top: 25px;
    list-style-type: none;
} 

#pie-row .col img{
    padding-top: 20px;
}

#pie-row .col ul a{
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: black;
    
}

#pie-row .col ul a:hover{
    color:#E07D22;
    font-size: 20px;

}

#pie-row .col ul li{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    padding: 5px 0px;
}


#pie img{
    width: 300px;
}

#pie-row i{
    padding-right: 10px;   
}