
/* imagen de fondo completo*/
body{
    background-image: url("../imagen/Fonfo.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */

#encabezado{
    background-color: rgba(247, 244, 244, 0.74);
    border-radius: 80px;
    margin-top: 20px;
}

.menu{
    list-style-type: none;
    float: right;
    padding-top: 12px;

}

#encabezado .menu{
    width: 680px;
}

.menu li{
    float: left;
    padding-left: 40px;
    margin: auto 20px;
}

.menu li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
}

.menu li a:hover{
    color:#E07D22;
    font-size: 20px;
    font-style: italic;
}

#col-header1{
    padding-left: 80px;

}

/* el primero section*/

#section1{
    width: 100%;
    height: 1800px;
}

.texto{
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'JetBrains Mono', monospace;
}

.button{
    text-align: center;
    margin-top: 40px;
}

.button a {
    color: #fff ;
    text-decoration: none;
    width: 50px;
    background-color: #252222;
    text-align: center;
    padding: 10px 100px;    
    border-radius: 5px;
    box-shadow: 0px 1px 10px #E07D22;
}

.button a:hover{
    color: black;
    background-color: #C06500;
    box-shadow: 0px 5px 10px #853400;

}

.button a i{
    padding: 10px;
}

/*aside-primer_section*/


#col-section1, #col-section2{
    text-align: center;
    

}

#col-section2 img{
    width: 100%;
}

#col-section2 video{
    width: 40%;   
}

/* carousel - segundo section*/

#carousel img,video{
    width: 100%;
    height: 600px;
}

/*footer*/

footer{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

#pie-row .col{
    text-align: center;
}

#pie-row .col ul{
    padding-top: 25px;
    list-style-type: none;
} 

#pie-row .col img{
    padding-top: 20px;
}

#pie-row .col ul a{
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: black;
    
}

#pie-row .col ul a:hover{
    color:#E07D22;
    font-size: 20px;

}

#pie-row .col ul li{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    padding: 5px 0px;
}


#pie img{
    width: 300px;
}

#pie-row i{
    padding-right: 10px;
  
    
}


